[submodule "console-backend"]
	path = console-backend
	url = https://github.com/SPOTSocial/console-backend.git
[submodule "console-frontend"]
	path = console-frontend
	url = https://github.com/SPOTSocial/console-frontend.git
[submodule "spot-web"]
	path = spot-web
	url = https://github.com/SPOTSocial/spot-web.git
[submodule "spot-backend"]
	path = spot-backend
	url = https://github.com/SPOTSocial/spot-backend.git
